:root {
    --color-line-grey: #9e9ca4ff;
    --color-line-orange: #ffbd00ff;
    --color-hover: #77755188;
    --color-lesson-active: #235ecd88;
    --color-progress-bar: #292c4b;
    --color-progress-bar-done: #235ecd;

    --bg-black: #232529ff;
    --bg-grey: #292c31ff;
    --bg-tabs: #28313fff;

    --width-line: .2rem;

    --font-size-title: 24px;
    --font-size-main: 18px;
    --padding: 20px;
    --padding-menu: 10px;

    /*--width-sidebar: 330px;*/
    --width-sidebar: 370px;
    --width-content: 1500px;
    --width-user-logo: 50px;
    --width-tabs: 34px;
    --height-menu: 86px;

    --border-radius-course: 20px;
}