<div class="col-sm-4 sidebar__inner">
    <div class="button button-primary">Опублікувати</div>
    <div class="sidebar__content">
        <div class="content__item"><i class="fa fa-book"></i> Курс</div>
        <div class="content__item">Про Опис</div>
        <div class="content__item">Зміст</div>
        <div class="content__item">Чек ліст</div>
        <div class="content__item"><i class="fa fa-comment"></i> Спілкування з учнями</div>
        <div class="content__item"><i class="fa fa-bar-chart"></i> Аналітика</div>
        <div class="content__item"><i class="fa fa-gear"></i> Налаштування</div>
        <hr>
        <div class="content__item"><i class="fa fa-search"></i> Search within course</div>
        <div class="content__item"><i class="fa fa-plus"></i> Створити клас</div>
    </div>
</div>
