/* CODE EDITOR */


/*
.code__wrapper {
    display: flex;
}

.code__number {
    list-style-type: none;
    border: 2px solid white;
    border-right-width: 0;
    padding: 0;
    display: inline-block;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    margin: 0;
    text-align: right;
}


.code__number .number__item {}

.user_code {
    width: 100%;
    resize: none;
    background-color: var(--bg-black);
    border: 2px solid white;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 10px;
    font-family: 'Arial';
    font-size: 18px;
}

.user_code:focus {
    background-color: var(--bg-grey);
}

.code__check {
    display: flex;
    justify-content: space-between;

    margin: 20px 10px;
}*/
