.lesson-form {
    margin-top: 20px;
}

.form-disabled {
    color: #999;

}

.form__code-wrong .code__number,
.form__fieldset-wrong {
    background-color: #ff000011;
}
.form__code-true .code__number,
.form__fieldset-true {
    background-color: #235;
}

.task__title {
    font-weight: bold;
}

.wrapper_label {
    /*padding: 10px 0;*/
}

.form__footer {
    padding: 10px;
    font-size: .8rem;
}

.student_points {
    font-weight: bold;
}