.lesson-form {
    margin-top: 20px;
}

.form-disabled {
    color: #999;

}
.form__fieldset-wrong {
    background-color: #ff000011;
}
.form__fieldset-true {
    background-color: #235;
}

.button-checked-again {
    display: inline-block;
    font-size: .8rem;
    margin-left: 10px;
}