@import url('../_variables.css');
/*https://fonts.google.com/specimen/Montserrat+Alternates?query=ua&subset=cyrillic*/

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,600;1,600&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,600;1,600&family=Montserrat:wght@300&display=swap');*/
body {
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background: var(--bg-black);
    /* font-size: var(--font-size-main); */

    /* font-family: 'Arial'; */
}

a,
p {
    color: white;
}

p {
    line-height: 1.25;
}

/*.conteiner {*/
/*    !* margin-top: 74px; *!*/
/*    height: 100vh;*/
/*}*/

.lesson-content {
    display: flex;
    height: calc(100vh - var(--height-menu));
}

main {
    /*display: flex;*/
    overflow-x: hidden;
    width: 100%;
    /*padding-top: var(--height-menu)*/
    /*position: relative;*/
    /*top: var(--height-menu);*/
    /*height: calc(100% - var(--height-menu));*/
    /*overflow-x: hidden;*/
    /*overflow-y: overlay;*/
}

main::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: var(--bg-grey);
}

main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-line-orange);
    border: 3px solid var(--bg-grey);
}
.lesson-sidebar__body,
.lesson-sidebar,
.empty-sidebar {
    width: var(--width-sidebar);
    /*left: 0;*/

}

/* step-wrapper */
article {
    /*width: calc(100% - var(--width-sidebar) - var(--width-tabs));*/
    background-color: var(--bg-black);
}


.step-wrapper {
    max-width: var(--width-content);
    margin: 0 auto;
    /*width: 100%;*/
}

.step-content {
    line-height: 1.5;
}

#progress_of_lesson,
.step-inner {
    padding: var(--padding);
}

#progress_of_lesson {
    padding-bottom: 0;
}
