@import url('../_variables.css');

main {
    /*padding-top: var(--height-menu);*/
}

.main {
    /*height: 88%;*/
    height: calc(100vh - var(--height-menu));
    overflow-y: scroll;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}


.main::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    /*background-color: var(--bg-grey);*/
    background-color: white;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-line-lessons);
    /*border: 3px solid var(--bg-grey);*/
    border: 3px solid white;
}