.code-sample::first-line {
    font-weight: bold;
}

.code-sample {
    list-style-type: none;
    padding-left: 20px;
}

.code-sample__item {
}

/* CODE EDITOR */

.code-editor {
    /* display: flex; */
}

.code__wraper {
    display: flex;
}

.code__number {
    font-family: monospace;
    list-style-type: none;
    border: 2px solid white;
    border-right-width: 0;
    padding: 0;
    display: inline-block;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    margin: 0;
    text-align: right;
    user-select: none;
}

.code__number .number__item {

}

.button {
    padding: 10px 20px;
    border-width: 0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.button-primary {
    background-color: var(--color-line-orange);
}

.button-secondary {
    background-color: var(--color-progress-bar-done);
    color: white;
}

.code__check {
    display: flex;
    justify-content: space-between;
    /* padding: 20px 0; */
    margin: 20px 10px;
    /* delete */
    /*margin-top: 260px;*/
}

/* test */

.usercode {
    width: 600px;
    /*width: 100%;*/
    /*background-color: var(--bg-black);*/
    font-family: 'Arial';
    font-size: 18px;
    height: 100%;

}

.usercode:focus {
    /*background-color: var(--bg-grey);*/
}

.wrapper__usercode {
    padding: .5em;
    border: 2px solid white;
    border-radius: 0 15px 15px 0;

    /*background-color: #282c34;*/
}

.usercode {
    position: relative;
    padding: 0;
    /*padding: .5em;*/
}

pre {
    margin: 0;
}

.usercode code.hljs {
    /*border-radius: 0 15px 15px 0;*/
    white-space: pre-wrap;
    padding: 0;

    /*background-color: none;*/
    word-wrap: break-word;
}

textarea.usercode_main {
    position: absolute;
    /*top: 0;*/
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    font-size: 18px;
    box-sizing: border-box;
    caret-color: green;
    /*color: rgba(200, 200, 255, 0.5);*/
    color: rgba(200, 200, 255, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 0;
    resize: none;
    overflow: hidden;
    border-width: 0
}

textarea.usercode_main:focus {
    border: none;
    outline: none;
}

.not_color {
    color: rgba(0, 0, 0, 0)
}

/*TEST DELETE*/

/*.wrapper__usercode, .usercode {
    width: 100%;
}*/