@import url('var.css');


/* lesson-sidebar */
.lesson-sidebar {
    background-color: var(--bg-grey);
    border-right: var(--width-line) solid var(--color-line-orange);
    /* height: 100vh; */
    position: fixed;
    top: var(--height-menu);
    left: 0;
    bottom: 0;
    /* position: relative; */
}

.lesson-sidebar__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lesson-sidebar__header {
    padding: 20px;
}

.lesson-sidebar__course-title {
    display: flex;
    font-size: var(--font-size-title);
    text-decoration: none;
}

.lesson-sidebar__course-title:hover {
    text-decoration: underline;
}

.lesson-sidebar__course-progress-wrap {}

.lesson-sidebar__course-progress {}

.lesson-sidebar__progress-line,
.lesson-sidebar__progress-line-done {
    height: 5px;
    border-radius: 5px;
}

.lesson-sidebar__progress-line {
    width: 100%;
    background-color: var(--color-progress-bar)
}

.lesson-sidebar__progress-line-done {
    /* progressLineDone */
    width: 16%;
    background-color: var(--color-progress-bar-done)
}

.lesson-sidebar__content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
}

.lesson-sidebar__content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: var(--bg-grey);
}

.lesson-sidebar__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-line-orange);
    border: 3px solid var(--bg-grey);

}

.lesson-sidebar__module-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    position: relative;

}

.line-progress-bar {
    background: #292c4b;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 4px;
    background: var(--color-progress-bar);
}

.line-progress-bar-done {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    background: var(--color-progress-bar-done);
}

.sidebar-module-header__title {
    padding: 1em;
}

.lesson-sidebar__lessons-inner {
    text-decoration: none;
}

.lesson-sidebar__module-header:hover,
.lesson-sidebar__lesson-header:hover {
    background-color: var(--color-hover);
}

.lesson-sidebar__lesson-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.lesson-active {
    background-color: var(--color-lesson-active);
}

a .sidebar-lesson-header__title {
    display: block;
    width: 100%;
}

.sidebar-lesson-header__title {
    padding: .5em 1em .5em 2em;

}

.lesson-sidebar__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson-controls {
    padding: 12px;
    border-radius: 10%;
    cursor: pointer;
}

.lesson-controls:hover {
    background-color: var(--color-hover);
}

/* step-wrapper */
article {
    background-color: var(--bg-black);
}

.step-wrapper {}

.step-inner {}

