{% extends 'base.html' %}
{% load static %}

{% block link %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/atom-one-dark.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/content.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/code.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/scroll-up.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/tabs.css' %}">

{% endblock %}

{% block main_menu %}
{% include 'navbar_lesson.html' %}
{% endblock %}

{% block script %}
<!-- Завантажимо React. -->
<!-- Примітка: перед розгортанням на продакшн, замініть "development.js" на "production.min.js". -->
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<!-- Завантажимо наш React-компонент. -->
<!--<script src="{% static 'js/test/like_button.js' %}"></script>-->
<!--<script src="{% static 'js/test/slidebar_r.js' %}" type="text/babel"></script>-->
<!--<script src="{% static 'js/lesson/sidebar.js' %}" type="text/jsx"></script>-->


<!--<script src="{% static 'js/lesson/menu.js' %}"></script>-->


<script src="{% static 'js/lesson/lesson-editor-code.js' %}"></script>
<script src="{% static 'js/lesson/lesson-task-pull.js' %}"></script>
<script src="{% static 'js/lesson/lesson-tabs.js' %}"></script>
<script src="{% static 'js/lesson/scroll-up.js' %}"></script>
<script type="module" src="{% static 'js/lesson/main.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>
<!--<script src="{% static 'js/lesson/sidebar.js' %}"></script>-->
{% endblock %}