{% extends 'base.html' %}
{% load static %}

{% block link %}

<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/content.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson/tabs.css' %}">

{% endblock %}

{% block main_menu %}
{% include 'navbar_lesson.html' %}
{% endblock %}

{% block script %}
<!--<script src="{% static 'js/lesson/menu.js' %}"></script>-->
<script src="{% static 'js/lesson/lesson-editor-code.js' %}"></script>
<script src="{% static 'js/lesson/lesson-task-pull.js' %}"></script>
<script src="{% static 'js/lesson/lesson-tabs.js' %}"></script>
<script type="module" src="{% static 'js/lesson/main.js' %}"></script>
<!--<script src="{% static 'js/lesson/sidebar.js' %}"></script>-->
{% endblock %}