{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'css/main/menu.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'css/main/course.css' %} ">

<link rel="stylesheet" type="text/css" href="{% static 'css/syllabus/sidebar.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'css/syllabus/syllabus.css' %} ">
{% endblock %}

{% block main_menu %}
{% include 'navbar_main.html' %}
{% endblock %}
