{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/ico/favicon.ico' %}"/>
    <title>{% block title %}Заголовок сторінки{% endblock %}</title>
    <!-- Підключення стилів CSS -->

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/flexboxgrid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/superflex.css' %}">
    {% block link %}
    {% endblock %}

</head>

<body>
{% block main_menu %}
{% endblock %}
<header>
    <!-- Заголовок сайту, меню, тощо -->
</header>

{% block content %}
{% endblock %}

<footer>
    <!-- Футер сайту -->
</footer>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"-->
<!--        crossorigin="anonymous"></script>-->
{% block script %}
{% endblock %}
</body>

</html>