<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="{% url 'index'%}">IT Snake</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" href="#">Каталог</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" href="#">Моє навчання</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{% url 'teach_courses'%}">Викладання</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="d-flex" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
{% load static %}
<nav class="menu">
    <div class="menu-logo column-center">
        <a href="{% url 'index'%}">
            <img src="{% static 'img/main_logo.png' %}" width="180px" alt="main_logo">
        </a>
    </div>
    <ul class="menu__list column-center">
        <li class="menu__item"><a href="{% url 'index'%}" class="menu__link">Каталог</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Моє навчання</a></li>
        <li class="menu__item"><a href="{% url 'teach_courses'%}" class="menu__link">Викладання</a></li>
    </ul>
    <div class="menu__right">
        <div class="column-center menu__search">
            <input type="search" placeholder="Пошук...">
        </div>
        <!--        <div class="column-center user_logo">-->
        <!--            <img src="{% static 'img/user_logo.jpg' %}" alt="user_logo">-->
        <!--        </div>-->

        {% if user.is_authenticated %}
        <div class="wrapper__username">
            <div class="menu__username">{{user}}</div>
        </div>
        {% endif %}

        <div class="menu__authorization">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Вийти</a>
            {% else %}
            <a href="{% url 'login' %}">Увійти</a><br>
            {% endif %}
        </div>
    </div>
</nav>