<div class="col-sm-4 sidebar__inner">
    <div class="btn btn-primary">Опублікувати</div>
    <div class="sidebar__content">Курс</div>
    <div class="sidebar__content">Про Опис</div>
    <div class="sidebar__content">Зміст</div>
    <div class="sidebar__content">Сруслдшіе</div>
    <div class="sidebar__content">Спілкування з учнями</div>
    <div class="sidebar__content">Аналітика</div>
    <div class="sidebar__content">Налаштування</div>
    <div class="sidebar__content">Search within course</div>
    <div class="sidebar__content">Створити клас</div>
</div>