.choice__label {
    display: block;
    padding: 5px 0;
}

.lesson-form input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    /* border: 2px solid var(--color-progress-bar-done); */
    border: 2px solid white;
    transition: 0.2s all linear;
    margin: 0;
    margin-right: 5px;
    position: relative;
    top: 4px;
    /* background: red; */
}

.lesson-form input[type="radio"]:checked {
    /* border: 6px solid var(--color-line-orange); */
    background: var(--color-progress-bar-done);
}

.choice__text {
    padding-left: 5px;
}

.task__check {
    /*margin: 20px 0 10px 0;*/
    padding: 10px;
}







