@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
/*CODE EXAMPLES*/
.code__examples {

}

.code__example {

}

.code__example .example__type {
    margin: 5px;
}

/*CODE EDITOR*/
/*FONT*/
.code__number,
code,
.user_code_main,
textarea.code__number {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

pre {
    margin: 0;
}

.fieldset__default {
    padding: 0;
    border-width: 0;
}

.attempt__message {
    margin: 5px;
}

.code__wrapper {
    display: flex;
}

.code__number {
    /*font-family: monospace;*/
    list-style-type: none;
    border: 2px solid white;
    border-right-width: 0;
    display: inline-block;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    margin: 0;
    text-align: right;
    user-select: none;
}

.wrapper__user_code {
    padding: .5em;
    border: 2px solid white;
    border-radius: 0 15px 15px 0;
}

.wrapper__user_code,
.user_code {
    width: 100%;
}

.user_code {
    height: 100%;
    position: relative;
    padding: 0;
}

.user_code code.hljs {
    white-space: pre-wrap;
    padding: 0;
    word-wrap: break-word;
}

textarea.user_code_main {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    font-size: 18px;
    box-sizing: border-box;
    caret-color: green;
    /*color: rgba(200, 200, 255, 0.5);*/
    color: rgba(200, 200, 255, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 0;
    resize: none;
    overflow: hidden;
    border-width: 0
}

textarea.user_code_main:focus {
    border: none;
    outline: none;
}

/*CODE CONSOLE*/
code__console {

}

.test__title {
    display: block;
}

.test__block {
    display: flex;
    align-items: flex-start;
}

/*FOOTER*/
.test__footer {

}

.footer__title,
.test__title {
    margin-top: 10px;
}

.footer__output {
    /*padding: 10px;*/
}

/* test */

.code__check {
    display: flex;
    justify-content: space-between;
    /* padding: 20px 0; */
    margin: 20px 10px;
    /* delete */
    /*margin-top: 260px;*/
}

.not_color {
    color: rgba(0, 0, 0, 0)
}

textarea.block__input {
    font-size: 18px;
    padding: 0.24em 0.5em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border-radius: 5px;
    /*overflow: hidden;*/
    border: none;
}

fieldset[disabled] textarea.block__input {
    background-color: white;
}

textarea.block__input:focus {
    /*color: red;*/
    background-color: #eee;
    border: none;
    outline: none;
}

.test__info {
    margin-top: 20px;
}

.test__info code,
.footer__output code {
    background-color: #2F0922;
    border-radius: 10px;
    color: white;
    padding: .3em .5em;

}

/*BUTTON*/


.group-btn-code {

}